n8n-angle-win-workflow.json
{
  "name": "Novix — Angle Win AIOS · Full Automation Suite",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */2 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4e5f-8a9b-c0d1e2f30001",
      "name": "Schedule — Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "notes": "Novix · Flow 1 — Auto Analytics Puller (chạy mỗi 2 giờ)"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.TIKTOK_ADS_API_URL }}/v1.3/report/integrated/get",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Access-Token",
              "value": "={{ $env.TIKTOK_ACCESS_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "advertiser_id",
              "value": "={{ $env.TIKTOK_ADVERTISER_ID }}"
            },
            {
              "name": "report_type",
              "value": "BASIC"
            },
            {
              "name": "dimensions",
              "value": "=[\"ad_id\"]"
            },
            {
              "name": "metrics",
              "value": "=[\"hook_rate\",\"comment_count\",\"conversion\",\"spend\"]"
            },
            {
              "name": "start_date",
              "value": "={{ $today.format('YYYY-MM-DD') }}"
            },
            {
              "name": "end_date",
              "value": "={{ $today.format('YYYY-MM-DD') }}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-0002-4e5f-8a9b-c0d1e2f30002",
      "name": "HTTP — TikTok Analytics API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300],
      "notes": "Gọi TikTok Ads API lấy metrics theo ad_id"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.all()[0].json;\nconst angles = data?.data?.list || [];\nreturn angles.map(a => ({\n  ad_id: a.dimensions?.ad_id,\n  hook_rate: parseFloat(a.metrics?.hook_rate || 0) * 100,\n  intent_comments: parseInt(a.metrics?.comment_count || 0),\n  sales: parseInt(a.metrics?.conversion || 0),\n  spend: parseFloat(a.metrics?.spend || 0)\n}));"
      },
      "id": "a1b2c3d4-0003-4e5f-8a9b-c0d1e2f30003",
      "name": "Code — Process Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300],
      "notes": "Tính toán per-angle metrics: hook_rate, intent_comments, sales, spend"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-win-hook",
              "leftValue": "={{ $json.hook_rate }}",
              "rightValue": 40,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "cond-win-comments",
              "leftValue": "={{ $json.intent_comments }}",
              "rightValue": 10,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "cond-win-sales",
              "leftValue": "={{ $json.sales }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0004-4e5f-8a9b-c0d1e2f30004",
      "name": "IF — WIN Condition",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300],
      "notes": "WIN = hook_rate >= 40 AND intent_comments >= 10 AND sales > 0"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AIOS_WEBHOOK_URL }}/win",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Workspace-ID",
              "value": "={{ $env.WS_ID }}"
            },
            {
              "name": "X-AIOS-Token",
              "value": "={{ $env.AIOS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"angleId\": \"{{ $json.ad_id }}\",\n  \"hookRate\": \"{{ $json.hook_rate }}\",\n  \"intentComments\": \"{{ $json.intent_comments }}\",\n  \"sales\": \"{{ $json.sales }}\",\n  \"verdict\": \"WIN\",\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a1b2c3d4-0005-4e5f-8a9b-c0d1e2f30005",
      "name": "HTTP — POST WIN to AIOS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 200],
      "notes": "Push angle WIN verdict vào AIOS webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AIOS_WEBHOOK_URL }}/flop",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Workspace-ID",
              "value": "={{ $env.WS_ID }}"
            },
            {
              "name": "X-AIOS-Token",
              "value": "={{ $env.AIOS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"angleId\": \"{{ $json.ad_id }}\",\n  \"hookRate\": \"{{ $json.hook_rate }}\",\n  \"intentComments\": \"{{ $json.intent_comments }}\",\n  \"sales\": \"{{ $json.sales }}\",\n  \"verdict\": \"FLOP\",\n  \"timestamp\": \"{{ $now.toISO() }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a1b2c3d4-0006-4e5f-8a9b-c0d1e2f30006",
      "name": "HTTP — POST FLOP to AIOS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 400],
      "notes": "Push angle FLOP verdict vào AIOS webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openapi.zalo.me/v2.0/oa/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "access_token",
              "value": "={{ $env.ZALO_OA_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"user_id\": \"{{ $env.ZALO_USER_ID }}\"\n  },\n  \"message\": {\n    \"text\": \"🏆 ANGLE WIN!\\nAd ID: {{ $json.ad_id }}\\nHook: {{ $json.hook_rate }}%\\nIntent: {{ $json.intent_comments }} cmts\\nĐơn: {{ $json.sales }}\\nSpend: {{ $json.spend }}\\n\\n➡️ Vít ngân sách x5 ngay!\"\n  }\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a1b2c3d4-0007-4e5f-8a9b-c0d1e2f30007",
      "name": "Zalo — Notify WIN",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 200],
      "notes": "Gửi thông báo Zalo khi có angle WIN — Vít ngân sách x5!"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openapi.zalo.me/v2.0/oa/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "access_token",
              "value": "={{ $env.ZALO_OA_ACCESS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"user_id\": \"{{ $env.ZALO_USER_ID }}\"\n  },\n  \"message\": {\n    \"text\": \"❌ ANGLE FLOP\\nAd ID: {{ $json.ad_id }}\\nHook: {{ $json.hook_rate }}%\\nIntent: {{ $json.intent_comments }} cmts\\nĐơn: {{ $json.sales }}\\n\\n⏸️ Tắt ngay, đừng đốt thêm budget.\"\n  }\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "a1b2c3d4-0008-4e5f-8a9b-c0d1e2f30008",
      "name": "Zalo — Notify FLOP",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1340, 400],
      "notes": "Gửi thông báo Zalo khi có angle FLOP — dừng budget"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "b2c3d4e5-0009-4f6a-9b0c-d1e2f3a40009",
      "name": "Schedule — 6AM Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 700],
      "notes": "Novix · Flow 2 — 6AM Angle Generation Trigger (6:00 sáng mỗi ngày)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CHROMA_URL }}/api/v1/collections/pain_bank/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\n  \"query_texts\": [\"pain\"],\n  \"n_results\": 10\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "b2c3d4e5-0010-4f6a-9b0c-d1e2f3a40010",
      "name": "HTTP — Get Pain Bank (Chroma)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 700],
      "notes": "Query top 10 pains từ ChromaDB Pain Bank"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.CREWAI_ENDPOINT }}/generate-angles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Workspace-ID",
              "value": "={{ $env.WS_ID }}"
            },
            {
              "name": "X-AIOS-Token",
              "value": "={{ $env.AIOS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"pains\": {{ $json }},\n  \"count\": 5,\n  \"product\": \"{{ $env.PRODUCT_NAME }}\"\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "b2c3d4e5-0011-4f6a-9b0c-d1e2f3a40011",
      "name": "HTTP — POST to CrewAI Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [680, 700],
      "notes": "Gửi pain data đến CrewAI để generate 5 angle briefs 6P"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AIOS_WEBHOOK_URL }}/queue",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Workspace-ID",
              "value": "={{ $env.WS_ID }}"
            },
            {
              "name": "X-AIOS-Token",
              "value": "={{ $env.AIOS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "b2c3d4e5-0012-4f6a-9b0c-d1e2f3a40012",
      "name": "HTTP — POST to AIOS Approval Queue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 700],
      "notes": "Đẩy angles vào AIOS approval queue để team review"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "c3d4e5f6-0013-4a7b-0c1d-e2f3a4b50013",
      "name": "Schedule — 8AM Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 1100],
      "notes": "Novix · Flow 3 — Competitor Spy (8:00 sáng mỗi ngày)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/clockworks~tiktok-scraper/runs",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.APIFY_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"searchQueries\": [\"{{ $env.COMPETITOR_KEYWORDS }}\"],\n  \"maxItems\": 20,\n  \"type\": \"trending\"\n}",
        "options": {
          "timeout": 60000
        }
      },
      "id": "c3d4e5f6-0014-4a7b-0c1d-e2f3a4b50014",
      "name": "HTTP — Apify TikTok Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 1100],
      "notes": "Chạy Apify actor để scrape trending TikTok videos từ competitors"
    },
    {
      "parameters": {
        "jsCode": "const videos = $input.all();\nreturn videos.map(v => ({\n  brand: v.json.authorMeta?.name,\n  url: v.json.webVideoUrl,\n  hook: v.json.text?.slice(0, 100),\n  views: v.json.playCount,\n  likes: v.json.diggCount,\n  date: new Date().toISOString().split('T')[0]\n}));"
      },
      "id": "c3d4e5f6-0015-4a7b-0c1d-e2f3a4b50015",
      "name": "Code — Extract Competitor Hooks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 1100],
      "notes": "Extract hooks, views, likes từ competitor videos để phân tích"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.AIOS_WEBHOOK_URL }}/competitor-data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Workspace-ID",
              "value": "={{ $env.WS_ID }}"
            },
            {
              "name": "X-AIOS-Token",
              "value": "={{ $env.AIOS_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"competitor_videos\": {{ JSON.stringify($input.all().map(i => i.json)) }},\n  \"collected_at\": \"{{ $now.toISO() }}\",\n  \"keywords\": \"{{ $env.COMPETITOR_KEYWORDS }}\"\n}",
        "options": {
          "timeout": 15000
        }
      },
      "id": "c3d4e5f6-0016-4a7b-0c1d-e2f3a4b50016",
      "name": "HTTP — POST Competitor Data to AIOS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 1100],
      "notes": "Gửi competitor data vào AIOS để populate competitor intelligence sheet"
    }
  ],
  "connections": {
    "Schedule — Every 2 Hours": {
      "main": [
        [
          {
            "node": "HTTP — TikTok Analytics API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — TikTok Analytics API": {
      "main": [
        [
          {
            "node": "Code — Process Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Process Metrics": {
      "main": [
        [
          {
            "node": "IF — WIN Condition",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF — WIN Condition": {
      "main": [
        [
          {
            "node": "HTTP — POST WIN to AIOS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP — POST FLOP to AIOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — POST WIN to AIOS": {
      "main": [
        [
          {
            "node": "Zalo — Notify WIN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — POST FLOP to AIOS": {
      "main": [
        [
          {
            "node": "Zalo — Notify FLOP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule — 6AM Daily": {
      "main": [
        [
          {
            "node": "HTTP — Get Pain Bank (Chroma)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Get Pain Bank (Chroma)": {
      "main": [
        [
          {
            "node": "HTTP — POST to CrewAI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — POST to CrewAI Agent": {
      "main": [
        [
          {
            "node": "HTTP — POST to AIOS Approval Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule — 8AM Daily": {
      "main": [
        [
          {
            "node": "HTTP — Apify TikTok Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP — Apify TikTok Scraper": {
      "main": [
        [
          {
            "node": "Code — Extract Competitor Hooks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code — Extract Competitor Hooks": {
      "main": [
        [
          {
            "node": "HTTP — POST Competitor Data to AIOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-06-11T00:00:00.000Z",
      "updatedAt": "2026-06-11T00:00:00.000Z",
      "id": "tag-novix-001",
      "name": "Novix"
    },
    {
      "createdAt": "2026-06-11T00:00:00.000Z",
      "updatedAt": "2026-06-11T00:00:00.000Z",
      "id": "tag-angle-win-001",
      "name": "ANGLE-WIN-AIOS"
    },
    {
      "createdAt": "2026-06-11T00:00:00.000Z",
      "updatedAt": "2026-06-11T00:00:00.000Z",
      "id": "tag-tiktok-001",
      "name": "TikTok"
    },
    {
      "createdAt": "2026-06-11T00:00:00.000Z",
      "updatedAt": "2026-06-11T00:00:00.000Z",
      "id": "tag-automation-001",
      "name": "Automation"
    }
  ],
  "triggerCount": 3,
  "updatedAt": "2026-06-11T00:00:00.000Z",
  "versionId": "v1.0.0"
}
